body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
  }
  h1 {
    font-weight: 100;
  }
  h2, p {
    margin: 0;
    padding: 0;
  }
  h2 {
    font-weight: 700;
  }
  a {
    text-decoration: none;
         }
         #nav-bar {
          display: flex;
          justify-content: flex-end;
          text-align: center;
          flex-wrap: wrap;
          gap: 1.2 rem;
        }
  #message {
    grid-column: 1 / -1;
    position: relative;
    text-align: center;
  }
  #form {
    align-items: center;
      display: flex;
      flex-direction: column;
       }
